/* ===============
	CODE
=============== */

code {
  overflow: auto;
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
  font-family: "Nanum Gothic Coding", Courier, monospace;
  font-size: 14px;
  background-color: #eef;
}

p code,
li code {
  padding: 3px 5px;
}