---
layout: home
sidebar_main : true
---
{% include header.html %}
<div class="c-posts o-opacity">
  {% for post in site.categories[page.title] %}
  <article class="c-post">
    {% if post.image %}
    <a class="c-post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.image}})"
      href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h4 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
        <span class="c-post-date">{{post.date | date: '%Y, %b %d'}} </span>
      </h4>
    </div>
  </article>
  {% endfor %}
</div> <!-- /.c-posts -->
{% include categories.html %}